* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #2E4455;
    /* font-family: "Ubuntu", sans-serif; */
}
header{
    /* position: sticky;
    background-color: rgb(198, 192, 192);
    top: 0; */
    margin-bottom: 20px;
}

.first_nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #023b6d;
}
.nav_icon_start ul{
    display: flex;
    margin: 5px 0;
}
.nav_icon_start ul li{
    list-style-type: none;
    /* margin:5px 5px; */
}
.nav_icon_start ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.nav_icon_start ul li a span{
    color: #00B1E9;
    margin-right: 10px;
}
.nav_icon_start ul li i{
    margin-right: 5px;
    color: white;
}

.nav_icon_center ul{
    display: flex;
    margin: 5px 0;
}
.nav_icon_center ul li{
    list-style-type: none;    
}
.nav_icon_center ul li a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.nav_icon_center ul li a i{
    color: white;
}

.nav_icon_end ul{
    display: flex;
}
.nav_icon_end ul li{
    list-style-type: none;
}
.nav_icon_end ul li a{
    color: white;
    padding: 0 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav_icon_end ul li a i{
    color: white;
    padding: 0 5px;
}
.nac_end_i{
    margin: 5px 0;
}

.nav_icon_end ul .dwn{
    background-color: #00B1E9;
    padding: 5px;
}



.sec_nav{
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.sec_header_link ul{
    display: flex;
}
.sec_header_link ul li{
    list-style-type: none;
}
.sec_header_link ul li a{
    text-decoration: none;
    margin-right:20px;
}
.sec_header_link ul li a:hover{
    text-decoration: underline;
}
.sec_header_link ul li i{
    margin-right:10px;
    color: #428BCA;
}
.sec_header_social a{
    margin-left: 20px;
    font-size: 20px;
}


.third_nav {
    display: flex;
    justify-content: space-between;
    /* padding: 10px 50px; */
    width: 90%;
    margin: 10px auto;
}

.third_nav a {
    text-decoration: none;
    color: #2E4455;
}

.third_nav a:hover {
    color: blue;
}

.header_list {
    display: flex;
    justify-content: space-between;
}

.header_list li {
    padding: 10px;
    list-style-type: none;
}








/* banner section */

.banner_sec {
    background-image: url(images/hero-carousel-1.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
}

.container {
    display: flex;
    align-items: center;
}

.con_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20%;
    
}

.con_title h1 {
    font-size: 45px;
    margin: 20px;
}

.con_title p {
    font-size: 22px;
    margin: 20px;
}

.con_btn {
    margin: 20px;
    position: relative;
}

.con_btn a {
    text-decoration: none;
    background-color: #428BCA;
    color: white;
    padding: 8px 25px;
    border-radius: 30px;
}
.con_btn a::after{
    content: '';
    height: 2px;
    width: 50px;
    background-color: #2E4455;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    margin: auto;
}

.r_icon a i,
.l_icon a i {
    color: rgb(16, 16, 192);
    font-size: 40px;
    margin: 0 30px;

}














/* about section */

.about_title {
    text-align: center;
    margin: 50px 0;
}

.about_title h1 {
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.about_title h3 {
    font-weight: 200;
}

.about_content {
    display: flex;
    margin: 0 80px;
    gap: 10%;
}

.abt_row {
    width: 45%;
}

.abt_row h1 {
    font-weight: 200;
    color: #2E4455;
    margin-bottom: 20px;
}

.abt_row img {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
}

.abt_row p {
    font-weight: 100;
    font-size: 22px;
    word-spacing: 5px;
    margin-bottom: 20px;
}

.abt_col {
    width: 45%;
}

.abt_para p {
    font-weight: 100;
    font-size: 21px;
    opacity: 0.8;
    word-spacing: 5px;
    margin-bottom: 20px;
}

.abt_col ul li {
    list-style-type: none;
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 21px;
    word-spacing: 5px;
    display: flex;
    align-items: flex-start;
}

.abt_col ul li i {
    margin-right: 20px;
    background-color: #428BCA;
    color: white;
    padding: 3px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abt_col p {
    font-weight: 100;
    font-size: 21px;
    word-spacing: 5px;
    margin-bottom: 20px;
}

.abt_img {
    background-image: url(images/banner\ img\ 1.jpg);
    width: 100%;
    height: 50%;
    background-size: cover;
    border-radius: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abt_img i {
    font-size: 30px;
    color: white;
    background-color: #428BCA;
    padding: 20px;
    border-radius: 50%;
    transition: all Is ease;
}

.abt_img i:hover {
    transform: scale(1.5, 1.5);
}







/* card section */
.card_sec{
    width: 90%;
    margin: 10% auto;
}
.card_row{
    display: flex;
}
.card_col{
    width: 33.3%;
    /* box-shadow: 0 0 5px rgb(135, 133, 133); */
    margin: 0 20px;
    padding: 30px 20px;
}
.card_item h1{
    margin-bottom: 15px;
    color: #428BCA;
    font-size: 35px;
}
.card_item h2{
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 600;
}
.card_item p{
    margin-bottom: 15px;
    font-size: 18px;
}
.card_col:hover{
          /* not working in white color */
    background-color: #428BCA;
    color: white;
    transition: all ease-in-out 0.5s;
}









/* number section */
.num_sec{
    width: 90%;
    margin: 10% auto;
}
.num_row{
    display: flex;
    justify-content: space-around;
}
.num_col{
    text-align: center;
    padding: 20px;
}
.num_item i{
    font-size: 30px;
    color: #428BCA;
}
.num_item h2{
    font-size: 40px;
    margin: 10px 0;
}
.num_item h4{
    font-weight: 300;
}









/* Services section */
.services_sec{
    width: 90%;
    margin: 10% auto;
}
.ser_title{
    margin-bottom: 60px;
    text-align: center;
}
.ser_title h1{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
}
.ser_title p{
    margin-bottom: 20px;
}
.ser_row{
    display: flex;
    margin: 90px 0;
}
.ser_col{
    width: 33.3;
    margin: 0 15px;
    text-align: center;
    position: relative;
}
.ser_card h2{
    font-size: 25px;
    margin: 20px 0;
}
.ser_card p{
    font-size: 20px;
    font-weight: 100;
    margin-top: 40px;
}
.ser_card i{
    font-size: 30px;
    color: #428BCA;
}
.ser_col:hover .ser_card h2{
    color: #428BCA;
}
.ser_card h2::after{
    content: '';
    height: 2px;
    width: 60px;
    position: absolute;
    background-color: #428BCA;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
}









/* portfolio section */

.port_section{
    margin: 70px 0;
}
.port_container{
    width: 90%;
    margin: 20px auto;
}
.port_title{
    text-align: center;
}
.port_title h1,p{
    margin-bottom: 20px;
}
.port_apps{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.port_apps .all a{
    margin: 0 10px;
    text-decoration: none;
    background-color: #428BCA;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
}
.port_apps .app a{
    margin: 0 10px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
}
.port_apps .app a:hover{
    background-color: #428BCA;
    color: white;
    transition: ease-in-out 0.5s;
}
.port_apps .card a{
    margin: 0 10px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
}
.port_apps .card a:hover{
    background-color: #428BCA;
    color: white;
    transition: ease-in-out 0.5s;
}
.port_apps .web a{
    margin: 0 10px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
}
.port_apps .web a:hover{
    background-color: #428BCA;
    color: white;
    transition: ease-in-out 0.5s;
}
.port_row{
    display: flex;
}
.port_col{
    width: 33.3%;
    vertical-align: middle;
    padding: 20px;
}
.port_card{
    overflow: hidden;
    position: relative;
    
}
.port_card img{
    width: 100%;
    margin: 20px 0;

}
.port_info{
    position: absolute;
    opacity: 0;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(153, 148, 148);
}
.port_info_title{
    margin: 5px 30px;
}
.port_info_title h3{
    margin-bottom: 15px;
}
.port_info_icn{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.port_info_icn a i{
    margin:0 6px;
    font-size: 25px;
}
.port_info_icn a i:hover{
    color: #428BCA;
}
.port_card:hover .port_info{
    position: absolute;
    opacity: 1;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 248, 248);
    transition:ease-in-out 0.4s;

}









/* Team section.... */
.team_container{
    width: 90%;
    margin: 20px auto;
}
.team_title{
    text-align: center;
    margin: 20px auto;
}
.team_title h1{
    font-weight: 100;
    margin-bottom: 10px;
}
.team_title p{
    font-size: 25px;
}
.team_row{
    display: flex;
}
.team_col{
    width: 33.3%;
    margin: 12px ;
}
img{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.team_in{
    position: relative;
}
.team_social{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -50px;
    text-align: center;
}

.team_social a i{
    opacity: 0;
    margin: 0 5px;
    font-size: 18px; 
    padding: 10px 10px;
    background-color: #428BCA;
    color: white;
    border-radius: 50%;
}
.team_info{
    background-color: white;
    margin: -10px 10px;
    border-radius: 10px;
    padding: 30px 0 30px;
}
.team_info h3{
    margin-bottom: 5px;
}
.team_in:hover .team_social a i{
    opacity: 1;
    margin: 0 5px;
    font-size: 18px; 
    padding: 10px 10px;
    background-color: #428BCA;
    color: white;
    border-radius: 50%;
    transition:ease-in-out 0.6s;
}















/* question section */
.qus_container{
    width: 90%;
    margin: 50px auto;
}
.qus_title{
    text-align: center;
    margin: 50px 0;

}
.qus_title h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.qus_title h3{
    font-size: 20px;
    /* opacity: 0.9; */
}
.qus_content{
    margin: 0 50px;
}
.qus_row{
    display: flex;
}
.qus_col ul li{
    display: flex;
}
.qus_col ul li{
    margin-bottom: 80px;
    list-style-type: none;
    gap: 3%;
}
.qus_col ul li p{
    font-size: 15px;
    font-weight: 600;
}
.qus_col ul li i{
    color: #428BCA;
}
.qus_col{
    width: 50%;
}
.qus_col1{
    width: 50%;
}
.qus_col1 ul li{
    list-style-type: none;
    margin-bottom: 20px;
}









/* contact section */
.conta_container{
    margin: 50px 0;
}
.conta_title{
    text-align: center;
    margin-bottom: 50px;
}
.conta_title h1{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 100;
}
.conta_title h3{
    font-size: 20px;
    font-weight: 200;
}
.conta_row{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 0 50px;
}
.conta_row p{
    font-size: 15px;
}
.conta_col{
    width: 50%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px #b3aaaa;
}
.conta_col i{
    border: 1px dotted #428BCA;
    padding: 15px;
    border-radius: 50%;
}
.conta_col h3{
    margin: 20px 0;
}
.conta_col1{
    width: 25%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px #b3aaaa;
}
.conta_col1 i{
    border: 1px dotted #428BCA;
    padding: 15px;
    border-radius: 50%;
}
.conta_col1 h3{
    margin: 20px 0;
}
.conta_col2{
    width: 25%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px #b3aaaa;
}
.conta_col2 i{
    border: 1px dotted #428BCA;
    padding: 15px;
    border-radius: 50%;
}
.conta_col2 h3{
    margin: 20px 0;
}















/* form section */
.form_container{
    width: 90%;
    margin: 20px 50px;
}
.form_col{
    width: 100%;
    display: flex;
    gap: 2%
}
.form_col input,textarea{
    width: 100%;
    margin: 10px;
    padding: 10px 20px;
    /* opacity: 0.5; */
}
.form_col textarea{
    height: 150px;
}
.form_btn{
    margin: 20px;
    text-align: center;
}
.form_btn a{
    text-decoration: none;
    background-color: #428BCA;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
}





/* footer section... */
.ftr_container{
    display: flex;
    justify-content: space-between;
    margin: 80px 50px;
    color: #818D8F;
    /* background-color: gray; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ftr_row a h3{
    margin-bottom: 35px;  
    color: #2E4455;  
    font-size: 30px;
    letter-spacing: 1px;
}
.ftr_row a{
    text-decoration: none;
}
.ftr_row p{
    font-size: 18px;
}
.ftr_row div{
    margin-bottom: 25px;
}
.ftr_row h5{
    font-size: 18px;
    letter-spacing: 1px;
}
.ftr_row p span{
    font-size: 20px;
    font-weight: 900;
    color: rgb(100, 87, 87);
}
.ftr_icon{
    display: flex;
    justify-content: space-around;
}
.ftr_icon a{
    color: #2E4455;
    border: 1px solid #2E4455;
    font-size: smaller;
    padding: 10px;
    border-radius: 50%;
}
.ftr_icon a:hover{
    color: #428BCA;
    border-color:#428BCA;
}
.ftr_col{
    display: flex;
    justify-content: space-around;
    
}
.ftr_col a{
    text-decoration: none;
    color: #606468;
    font-size: 18px;
}
.ftr_link{
    margin: 0 30px;
    display:flex;
    flex-direction: column;
}
.ftr_link h4,a{
    padding-bottom: 15px;
   
}
.ftr_services{
    margin: 0 30px;
    display:flex;
    flex-direction: column;
}
.ftr_services h4,a{
    padding-bottom: 15px;
}
.ftr_hic{
    margin: 0 30px;
    display:flex;
    flex-direction: column;
}
.ftr_hic h4,a{
    padding-bottom: 15px;
}
.ftr_nobis{
    display:flex;
    flex-direction: column;
}
.ftr_nobis h4,a{
    padding-bottom: 15px;
}
.ftr_col a:hover{
    color: #428BCA;
}


.ftr_col h4{
    color: #2E4455;
    font-size: 20px;
}

.ftr_abt{
    text-align: center;
    margin: 50px 0;
    font-size: 18px;
}
.ftr_abt p{
    margin-bottom: 10px;
}
.ftr_abt span{
    color: #428BCA;
}
